export TF_API_TOKEN=<your-terraform-cloud-token>
export TF_CLOUD_ORGANIZATION=<your-tfc-org>
export TFC_TOKEN=$TF_API_TOKEN
export TF_TOKEN_app_terraform_io=$TF_API_TOKEN
export KH_ENDPOINT=https://app.keyharbour.ca/api/v2
export KH_TOKEN=<your-keyharbour-api-token>
export KH_PROJECT=<your-project-uuid>
export KH_WORKSPACE=<your-workspace-name>
export KH_ENVIRONMENT=<your-environment-name>
